$color-palette : (
    black: #000000,
    100: #1B1B1B,
    200: #2C2C2C,
    300: #858585,
    400: #979797,
    500: #BDC3C7,
    600: rgb(240, 240, 240),
    white: #FFFFFF,

    accent: #00BBFF,

    transparency: (
        white-60: rgba(255,255,255,0.6)
    ),

    gradient: (
        accent: linear-gradient(45deg, #00BBFF, rgba(0,187,255, 0.5))
    )
);